<nav class="navbar">
  <div class="nav-title">Dhanushri N S</div>

  <button class="hamburger" (click)="toggleMenu()">
     <i class="fa fa-bars"></i>
  </button>

  <div class="nav-links" [class.active]="isMenuOpen">
    <a (click)="scrollToSection('about')">About</a>
    <a (click)="scrollToSection('projects')">Projects</a>
    <a (click)="scrollToSection('skills')">Skills</a>
    <a (click)="scrollToSection('education')">Education</a>
    <a (click)="scrollToSection('experience')">Experience</a>
    <a (click)="scrollToSection('contact')">Contact</a>
  </div>
</nav>


<!-- Sections -->
<section id="about">
  <h2 class="abt-section">About</h2>
  <h2>Hi, I'm Dhanushri 👋</h2>
  <p class="subtitle">Front-End Developer • UI Enthusiast • Lifelong Learner</p>

  <div class="about-content">
    <p>I'm a passionate front-end developer with over 2 years of experience crafting responsive, intuitive, and visually appealing web applications using Angular, TypeScript, HTML, and CSS.</p>
    <p>I thrive on building clean, reusable UI components and delivering seamless user experiences that align with modern web standards.</p>
    <p>Currently expanding my skills in backend development with Java — on a journey to becoming a full-stack developer.</p>
    <p>Beyond coding, I enjoy music, reading, and working on personal projects that push my creativity and curiosity.</p>
  </div>

  <blockquote class="motto">“I don't just build features — I craft user experiences.”</blockquote>
</section>


<section id="projects">
  <h2>Projects</h2>
  <div class="projects-list">

    <div class="project-card-horizontal">
      <div class="project-info">
        <h3>Task Manager App</h3>
        <p>A web-based task management tool to create, edit, and track tasks efficiently with Angular.</p>
        <p>A Simple frontend-focused build at present, with future iterations aimed at incorporating backend services using Java and Spring Boot.</p>
        <p><strong>Tech:</strong> Angular, TypeScript, HTML, CSS</p>
        <div class="project-links">
          <a href="https://github.com/Dhanushri-NS/Task-manager" target="_blank">GitHub</a>
          <a href="https://dhanushri-ns.github.io/Task-manager/" target="_blank">Live Demo</a>
        </div>
      </div>
    </div>

    <div class="project-card-horizontal">
      <div class="project-info">
        <h3>Portfolio Website</h3>
        <p>This very site! Built to showcase my skills, experience, and projects.</p>
        <p><strong>Tech:</strong> Angular, HTML, CSS</p>
        <div class="project-links">
          <a href="https://github.com/Dhanushri-NS" target="_blank">GitHub</a>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="skills">
  <h2 class="section-name">Skills</h2>
  <div class="skill-list">

    <div class="skill-list-horizontal">
      <div class="skill-info">
        <h3>Front-end</h3>
        <ul>
          <li>Angular</li>
          <li>TypeScript</li>
          <li>JavaScript</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>RxJS</li>
          <li>Responsive Design</li>
        </ul>
      </div>
    </div>

    <div class="skill-list-horizontal">
      <div class="skill-info">
        <h3>Tools & Technologies</h3>
        <ul>
          <li>Git & GitHub</li>
          <li>Visual Studio Code</li>
          <li>Eclipse</li>
          <li>Postman</li>
          <li>Chrome DevTools</li>
          <li>Microsoft Word & Excel </li>
        </ul>
      </div>
    </div>

    <div class="skill-list-horizontal">
      <div class="skill-info">
        <h3>Development Practices</h3>
        <ul>
          <li>Agile Methodology</li>
          <li>Team Collaboration</li>
          <li>Problem Solving</li>
          <li>Debugging</li>
        </ul>
      </div>
    </div>

     <div class="skill-list-horizontal">
      <div class="skill-info">
        <h3>Backend & Database</h3>
        <ul>
          <li>Java </li>
          <li>Spring Boot</li>
          <li>MySQL</li>
          <li>RDBMS Concepts</li>
        </ul>
      </div>
    </div>

  </div>
</section>


<section id="education">
  <h2>Education</h2>
  <div class="education-list">
    <div class="education-list-horizontal">
      <div class="education-info">
        <h3>Bachelor of Science(Computer Technology)</h3>
        <p>Sri Krishna Arts And Science College</p>
        <p>2018-2021</p>
        <p>Graduated with First Class</p>
      </div>
    </div>
    <div class="education-list-horizontal">
      <div class="education-info">
        <h3>HSC - Higher Secondary </h3>
        <p>CRR Matriculation Higher Secondary School</p>
        <p>2016-2018</p>
        <p>Scored 80%</p>
      </div>
    </div>
    <div class="education-list-horizontal">
      <div class="education-info">
        <h3>SSLC - Secondary School  </h3>
        <p>CRR Matriculation Higher Secondary School</p>
        <p>2015-2016</p>
        <p>Scored 95%</p>
      </div>
    </div>
  </div>
</section>


<section id="experience">
  <h2>Experience</h2>
  <div class="experience-list">

    <div class="experience-list-horizontal">
      <div class="experience-info">
        <h3>Senior System Associate</h3>
        <p><strong>Company:</strong> Infosys</p>
        <p><strong>Duration:</strong> Jan 2023 – Sep 2023</p>
        <ul>
          <li>Worked in both Agile and Waterfall environments</li>
          <li>Participated in sprint planning, daily stand-ups, and code reviews</li>
          <li>Collaborated with cross-functional teams to deliver client-focused solutions</li>
          <li>Resolved critical defects and enhanced the overall user experience</li>
          <li>Implemented end-to-end testing processes to ensure quality and reliability</li>
          <li>Provided support as part of the tech support team for troubleshooting and issue resolution</li>
        </ul>
      </div>
    </div>

    <div class="experience-list-horizontal">
      <div class="experience-info">
        <h3>Operations Executive</h3>
        <p><strong>Company:</strong> Infosys</p>
        <p><strong>Duration:</strong> Jul 2021 – Jan 2023</p>
        <ul>
          <li>Developed and maintained web applications using Java and Angular</li>
          <li>Collaborated with the development team to ensure performance and responsiveness</li>
          <li>Optimized code and enhanced application stability</li>
          <li>Identified and reported software issues, contributing to improved system efficiency</li>
        </ul>
      </div>
    </div>

  </div>
</section>

<section id="contact">
  <h2>Contact Me</h2>
  <div class="resume-download">
    <a href="assets/Resume-Dhanushri.pdf" download>
      <button class="resume-btn">Download Resume</button>
    </a>
  </div>

  <form class="contact-form" action="mailto:dhanuns2001@gmail.com" method="POST" enctype="text/plain">
    <input type="text" name="name" placeholder="Your Name" required />
    <input type="email" name="email" placeholder="Your Email" required />
    <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
    <button type="submit">Send Message</button>
  </form>

  <div class="social-links">
    <a href="https://www.linkedin.com/in/dhanushrins/" target="_blank" aria-label="LinkedIn">
     <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/Dhanushri-NS" target="_blank" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</section>

