@import "@fortawesome/fontawesome-free/css/all.min.css";


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  color: #1f2937;
}

section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #2e2e3a;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #a78bfa;
}
